
###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

###> symfony/web-server-bundle ###
/.web-server-pid
###< symfony/web-server-bundle ###


# User-specific stuff
.idea

# CMake
cmake-build-*/

# File-based project format
*.iws

# IntelliJ
out/